name: Telegram-X-Production-Build
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Inject API
        run: |
          echo "api_id=39843586" > local.properties
          echo "api_hash=6566d860f3317765664161c9e88b901a" >> local.properties
          echo "ndk.dir=${ANDROID_SDK_ROOT}/ndk/21.4.7075529" >> local.properties

      - name: Build APK
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon

      - name: Upload (全路径深度搜索)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: PG-Helper-Final-APK
          # 改用这个路径，它会扫描整个项目寻找生成的 apk
          path: "**/build/outputs/**/*.apk"
